<div class="cuerpo">

    <div *ngIf="!activeUser" class="container mt-4 centrado">
        <h1 class="pb-5">Welcome to Netflix</h1>

        <h3 class="mt-5">You have not accessed the system yet</h3>
        <h3 class="pb-5">You can log in or register</h3>

        <button class="btn mt-5 btn-info" [routerLink]="['/login']">Go to Login</button>
        <button class="btn mt-5 ml-5 btn-info" [routerLink]="['/signup']">Go to Register</button>
    </div>


    <div *ngIf="activeUser" id="welcomeDiv" class="container mt-4 centrado">
        <h1>Welcome {{ activeUser }}</h1>
    </div>


    <div id="adminButtonDiv" *ngIf="activeUser == 'admin'" class="container centrado">
        <button class="btn btn-info mt-2 mb-2 btn-lg btn-block" [routerLink]="'/admin'">
            Admin site
        </button>
    </div>



    <form [formGroup]="subscriptionForm" action="">

        <div *ngIf="activeUser && !activeSubscription" class="container mt-2">
            <div class="form-group">
                <label for="selectSubscription">Choose a subscription type:</label>
                <select class="form-control" id="selectSubscription" formControlName="subscriptionType">
                    <option disabled selected value>Select an option</option>
                    <option *ngFor="let st of subscriptionTypes" value="{{st.value}}">
                        {{ st.name }}
                    </option>
                </select>
            </div>

            <button class="btn btn-info mt-2 mb-5 btn-block" [disabled]="!subscriptionForm.valid"
                (click)="activateSubscription()">
                Activate Subscription
            </button>
        </div>

    </form>



    <div *ngIf="activeSubscription" class="container">

        <h3>Productos disponibles</h3>

        <div class="card-columns">
            <div *ngFor="let p of productsAvailable" class="card">
                <div class="card-header cardRowBg">{{ p.title }}</div>
                <div class="card-body cardBg">
                    <p class="card-text">{{ p.category }} - Category</p>
                    <p class="card-text">{{ p.contentType }} - Content Type</p>
                    <button class="btn btn-info btn-block" (click)="addVisual( p.idProduct )">
                        Watch
                    </button>
                </div>
            </div>
        </div>

    </div>


    <div *ngIf="activeUser && activeSubscription" class="container">
        <button *ngIf="!visualsActivated" class="btn btn-info mx-auto btn-block"
            (click)="showVisuals(); setVisualsOn()">
            Show visuals
        </button>
        <button *ngIf="visualsActivated" class="btn btn-info mx-auto btn-block" (click)="setVisualsOff()">
            Close visuals
        </button>
    </div>


    <div *ngIf="visualsActivated" class="container">

        <h3>Historial de visualizaciones</h3>

        <div class="card-columns">
            <div *ngFor="let v of customerVisuals" class="card">
                <div class="card-header cardRowBg">{{ v.product.title }}</div>
                <div class="card-body cardBg">
                    <p class="card-text">{{ v.start }} - Start</p>
                    <p class="card-text">{{ v.end }} - End</p>
                </div>
            </div>
        </div>

    </div>


</div>